#container-style{
    margin-left: 20%;
    /* padding-bottom: 50px; */
}

#car-title{
    color:white;
}

#card-style{
    width: 60%;
    height: 60%;
    background-color: rgb(226, 226, 226);
}

#about-card-style{
    background-color: rgb(226, 226, 226);
}

#carousel{
    width: auto;   
}

.carousel-indicators li { visibility: hidden; }